@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');


/*font-family: 'Handlee', cursive;

font-family: 'Montserrat', sans-serif;*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

img{
    width: 100%;
    height: auto;
    display: block
}

:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fuentesecundaria);
}

.container{
    max-width: var(--anchomaximo);
    margin: 0 auto;
}
/*inicio header*/

header .nav-top{
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}



header .nav-top .container{
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
   
}

header .nav-top a span {
    display: none
}

header .nav-top a i {
    font-size: 150%
}

header nav{
    padding: var(--margingrid);

    
}

header nav .container:after{
    display: block;
    content:"";
    clear: both;
    height: 0;

}


header nav .hamburguesa  {
    cursor: pointer;
    
    

}

header .hamburguesa{
    float: right;
}

header .logo{
    float: left;
    max-width: 100px
}

header .menu {
    padding-top: 60px;
    text-align: center;
    
}

header .menu a{
    text-decoration: none;
    display: block;
    padding: calc(var(--margingrid)*1.25);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header .menu li:last-child a {
    border: 0px;

}


header .menu .activo {
    color: var(--colorprincipal);
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: calc(var(--margingrid)*0.75) ;
    width: 2em;
}


.go-top-container{

    position: fixed;
    bottom:40px;
    right:40px;
    width: 60px;
    height: 60px;
    z-index: -1;
}

.go-top-button{
    width: 0;
    height: 0;
    background-color: orange;
    border-radius: 50%;
    cursor:pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%,);
    z-index: -1;



}

.go-top-button i{
    position: fixed;
    font-size: 17px;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    transition: 2s;

}

/*fin header*/

/*Inicio footer*/



/*footer .contenedorbarra .barra{

    height: 50px;
    width: 700px;
    background-color:var( --colorsecundario);
    float:right;

}*/

footer{
    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
    color: white;
    text-align:center;
    position: absolute;
    width: 100%;
    bottom: 0;
    
}

footer a{
    color: white;
    text-decoration: none;
    
}

footer a:hover {

    color: var(--colorprincipal);
}

.flecha{

    display: block;
    color: var(--colorprincipal);
    position: fixed;
    bottom: 60px;
    right: 10px;
    font-size: 250%;
}
/*
footer .legalfooter{ 
    

    position: fixed;
    bottom: 0;
    width: 100%;
    height:50px;
    display: block;
    list-style: none;
    

    /*me resulta muy dificil los margin*/
     
/*
}
    

footer .nav-botton{ 

    background-color: var(--colorsecundario);
    padding: var(--margingrid) 0px;
}

footer .nav-botton .footer-legal-menu{

    display: flex;
    justify-content: space-around;

}

footer .nav-botton a{
    color: white;
     text-decoration: none;
     list-style: none;
     font-size: var(1em);
     font: var(--fuentesecundaria);
}


*/

/*fin footer*/



/* query footer

@media(min-width: 768px){

    footer .nav-botton{
        display: inline;
        color: white
    }
}

NO LO NECESITA?¿?
*/
/*
<div class="legalfooter">
            <nav class="nav-botton">

                <div class="footer-legal-menu">
                    <li><a href="">Copyright&copy;2020</a></li>
                    <li><a href="">Aviso legal</a></li>
                    <li><a href="">Cookies</a></li>

                </div>
            </nav>
            */



            /* Inicio herp*/

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: #777;
    background-blend-mode:multiply;
    color: white;
    display: flex;
}

.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.hero h1{
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
}

.hero h2{
    color: var(--colorprincipal);
    margin: var(--margingrid) 0;
    font-size: 1.25em;
}

.hero p{
    font-size: 1.15em;
}


.boton{
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: var(--margingrid);
    color:white;
    text-decoration: none;
    margin: var(--margingrid)0;
    border: 1px solid var(--colorprincipal)
    
}

.boton:hover {
    background: transparent;
    color: var(--colorprincipal);

}

.boton:hover i{
    transform: translateX(5px);
    transition: 0.5s;
}

.hero  .social {
    display: flex;
    justify-content: space-between;
    width: 150px;

}

.hero .social a{
    color:white;
    text-decoration: none;
    font-size: 2em;
}

            /* fin Hero*/


/*Inicio de ourservices*/


main section{
    padding: calc(var(--margingrid)*3.0) var(--margingrid); 

}

main section h2{
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: var(--colorprincipal)
}

main section .underline{
    position: relative;
    width: 100px;
    margin:0 auto;
    text-align: center;
    margin-bottom: var(--margingrid);


}

main section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);

}

main section .underline span{
    color: var(--colorprincipal);
    font-weight: 700;
}
/*fin our services*/




/*mediaquerys*/

@media(min-width: 768px) {
    header .nav-top a span {
        display: inline;
        color: white
    }

header .nav-top a i {
    font-size: 120%;
}

footer{
    text-align: left;
}
}

@media(min-width: 1004px) {
    header .hamburguesa{
        display: none;
    }
    header .menu {
        padding-top: 0px;
        float: right;
        
    }

    header .menu li{
        display: inline-block

    }
    header .menu li a{
        border:0px;
        padding: 0.5em calc(var(--margingrid));
    }
}
